<!DOCTYPE html>
<html ng-app="basic">
<head>
	<title></title>
</head>
<body ng-controller="BasicCtrl">

	<h1>check the console!</h1>
	<button ng-click="RandomVal()">Problem 1</button>
	<button ng-click="studentPairs()">Problem 2</button>
	<input type="text" id="string">
	<button ng-click="dashingThroughTheWords()">Problem 3</button>


	<script type="text/javascript" src="../assn2/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../assn2/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controllers.js"></script>
	<script type="text/javascript" src="scripts/services.js"></script>
</body>
</html>